
*{


    }

    .container{
        
  
    }
    form{
       
     }
    form input{
     
    }

     .btn{
        border: 1px solid black;
        background-color: red;
        padding: 10px 10px;
        border:10px;
        outline: 10px;
        }
        