*{

    margin:0;
    padding: 0;
    font-family: 'Popins',sans-serif;
    box-sizing: border-box;

    }

    .container{
    width: 30%;
    height: 100vh;
    display: flex;
    position: absolute;
    top: 50px;
    left: 330px;
    }
    form{
        border: 1px solid black;
     padding: 1px;
    margin: 2px;
    width: 600px;
    height: 50px;
    display: flex;
     }
    form input{
        border: 1px solid black;
     padding: 1px;
    margin: 2px;
        flex:1 ;
        border: 1px;
        outline: 10px;
    }
    form btn{
        border: 1px solid black;
    background-color: red;
    padding: 10px 50px;
    border:10px;
    outline: 10px;
        }