*{

    margin:0;
    padding: 0;
    font-family: 'Popins',sans-serif;
    box-sizing: border-box;
   
    }

.container{
    width: 100%;
    height: 100vh;
    display: flex;
    position: absolute;
    right: 500px;
    
}
form{
    width: 600px;
    height: 50px;
    display: flex;
}
form input{
    flex:1 ;
    border: none;
    outline: none;
}
form button{
    background: tomato
    padding: 10px 50px;
    border:none;
    outline: none;
}