*{
    margin:0;
    padding:0;
    text-decoration: none;
    
   } 
   body{
    box-sizing: border-box;
    font-family:  'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
   }
   .sidebar{
    position: foxed;
    background-color: rgb(255, 255, 255)   ;
    height: 100%;
    width: 200px;
    top: 0;
    left: 0;
}
.sidebar h2{
    text-align: center;
    font-size: 20px;
    text-transform: uppercase;
    color:rgb(250, 250, 250);
    background-color: pink;
    font-weight: bold;
 

}

.sidebar ul li {
margin: 25px 0;


}
.sidebar ul li a{
    color: rgb(0, 0, 0);
    padding: 0 30px;
}
.sidebar ul li a:hover{
    color: rgb(237, 164, 164);
    margin-left: 20px;
    transition: 0.4s;
}

.main{
    margin-left: 200px;
    padding: 5px;

}
.main h2{
    margin-top: 20px;
}
*{

    margin:0;
    padding: 0;
    font-family: 'Popins',sans-serif;
    box-sizing: border-box;

    }

    .container{
    width: 30%;
    height: 100vh;
    display: flex;
    position: absolute;
    top: 50px;
    left: 330px;
    }
    form{
        border: 1px solid rgb(255, 255, 255);
     padding: 1px;
    margin: 2px;
    width: 600px;
    height: 50px;
    display: flex;
     }
    form input{
        border: 1px solid rgb(255, 250, 250);
     padding: 1px;
    margin: 2px;
        flex:1 ;
        border: 1px;
        outline: 10px;
    }
    form button{
        border: 1px solid rgb(255, 255, 255);
    background-color: rgb(255, 255, 255);
    padding: 10px 50px;
    border:10px;
    outline: 10px;
        }